hr {
  width: 55%;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

/* Class Selectors */

/* Divs */

.header {
  text-align: right;
  background-image: url(../../../static/images/h2.jpeg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 400px;
  padding-bottom: 10px;
}

.header-text{
  color: white;
  text-align: center;
  margin-top: 100px;
}

.title {
  border-style: double;
  border-width: 5px;
  border-color: white;
  display: inline-block;
  padding: 10px;
}

.illustration {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.introduction {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.skills {
  text-align: justify;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

/* text */

.content {
  text-align: justify;
}

/* Images */
.drivetrain {
  width: 60%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
